*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Macondo', cursive;
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgb(70, 70, 70);
}

input {
  display: none;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.con {
  width: 80%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}

.content {
  height: 80%;
  width: 400%;
  display: flex;
  transform: translateX(37.5%);
  display: flex;
  align-items: center;
  justify-content: start;
  transition: 0.5s;
}

/* .content__block */

.content__block{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.view__text {
  height: 100%;
  width: 35%;
  overflow: hidden;
}

.content__text {
  height: 100%;
  width: 400%;
  display: flex;
  align-items: center;
  justify-content: start;
  transition: 0.5s;
  
}

.content__block-text {
  width: 25%;
  height: 100%;
  white-space:nowrap
}

.content__block-img {
  height: 80%;
  width: 70%;
  object-fit: contain;
  align-self: center;
}

.nav-buttons {
  display: flex;
  justify-content: end;
  height: 2em;
  width: 8em;
  z-index: 10;
  background-color: rgb(70, 70, 70);
}

.nav-buttons__item {
  width: 2em;
  height: 2em;
  background-color: aqua;
  border: 0.5em solid rgb(70, 70, 70);
  border-radius: 50%;
  cursor: pointer;
}

#slide1:not(:checked) ~ .con .nav-buttons label:nth-child(1):hover,
#slide2:not(:checked) ~ .con .nav-buttons label:nth-child(2):hover,
#slide3:not(:checked) ~ .con .nav-buttons label:nth-child(3):hover,
#slide4:not(:checked) ~ .con .nav-buttons label:nth-child(4):hover {
  background-color: white;
}

#slide1:checked ~ .con .nav-buttons label:nth-child(1):hover,
#slide2:checked ~ .con .nav-buttons label:nth-child(2):hover,
#slide3:checked ~ .con .nav-buttons label:nth-child(3):hover,
#slide4:checked ~ .con .nav-buttons label:nth-child(4):hover {
  border-color: white;
}

#slide1:checked ~ .content {
  margin-left: 0%;
}

#slide2:checked ~ .content {
  margin-left: -200%;
}

#slide3:checked ~ .content {
  margin-left: -400%;
}

#slide4:checked ~ .content {
  margin-left: -600%;
}

#slide1:checked ~ .con .content__text {
  margin-left: 0%;
}

#slide2:checked ~ .con .content__text {
  margin-left: -100%;
}

#slide3:checked ~ .con .content__text {
  margin-left: -200%;
}

#slide4:checked ~ .con .content__text {
  margin-left: -300%;
}

#slide1:checked ~ .con .nav-buttons label:nth-child(1),
#slide2:checked ~ .con .nav-buttons label:nth-child(2),
#slide3:checked ~ .con .nav-buttons label:nth-child(3),
#slide4:checked ~ .con .nav-buttons label:nth-child(4) {
  width: 1em;
  height: 1em;
  background-color: inherit;
  border: 0.1em solid aqua;
  margin: 0.5em;
}